<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iscored.co.uk</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="container">
    	<div id="inner">
            <!--header start here-->
            <div id="header_area">
            	<div id="top_bar">
                	<a href="#" title="contact us">contact us</a> | <a href="#" title="sitemap">sitemap</a> | <a href="#" title="advertise">advertise</a>
                </div>
                <div id="header">
                	<div id="logo"><img src="images/logo.png" width="400" height="118" alt="logo" /></div>
                    <div id="logo_right">
                    	<input type="text" class="input" /> <input type="button" class="btn" />
                    </div>
                </div>
                <div id="menu">
                	<ul>
                    	<li><a href="#" title="home">HOME</a></li>
                        <li class="menu_devider"></li>
                        <li><a href="#" title="about us">ABOUT US</a></li>
                        <li class="menu_devider"></li>
                        <li><a href="#" title="videos">VIDEOS</a></li>
                        <li class="menu_devider"></li>
                        <li><a href="#" title="author login">AUTHOR LOGIN</a></li>
                        <li class="menu_devider"></li>
                        <li><a href="#" title="user login">USER LOGIN</a></li>
                        <li class="menu_devider"></li>
                        <li><a href="#" title="search">SEARCH</a></li>
                        <li class="menu_devider"></li>
                        <li><a href="#" title="legal">LEGAL</a></li>
                    </ul>
                </div>
            </div>
            <!--header end here-->
            
            
            <!--content start here-->
            <div id="container">
            	<div id="content_inner">
                
                	<!--content_left_side start here-->
                	<div id="content_left_side">
                    	<h2>Latest Video</h2>
                        <div class="video_area"><img src="images/media_player.jpg" alt="player" width="608" height="403" /></div>
                        <div class="video_area tmarging">
                        	<ul>
                            	<li class="featured_tab"></li>
                                <li class="most_discussed_tab"></li>
                            </ul>
                        </div>
                        <div class="featured_area">
                        	<div class="featured_area_inner">
                            	<div class="featured_box">
                                	<img src="images/featured_img1.jpg" alt="" />
                                    <p>14th March 10</p>
                                    <p><b>Championship Round Up-March 13</b></p>
                                    <p><a href="#">Watch Now</a></p>
                                    <p><span>Add to My Cart</span></p>
                                </div>
                                <div class="featured_box_devider"></div>
                            	<div class="featured_box">
                                	<img src="images/featured_img2.jpg" alt="" />
                                    <p>14th March 10</p>
                                    <p><b>Championship Round Up-March 13</b></p>
                                    <p><a href="#">Watch Now</a></p>
                                    <p><span>Add to My Cart</span></p>
                                </div>
                                <div class="featured_box_devider"></div>
                            	<div class="featured_box">
                                	<img src="images/featured_img3.jpg" alt="" />
                                    <p>14th March 10</p>
                                    <p><b>Championship Round Up-March 13</b></p>
                                    <p><a href="#">Watch Now</a></p>
                                    <p><span>Add to My Cart</span></p>
                                </div>
                                <div class="featured_box_devider"></div>
                            	<div class="featured_box">
                                	<img src="images/featured_img4.jpg" alt="" />
                                    <p>14th March 10</p>
                                    <p><b>Championship Round Up-March 13</b></p>
                                    <p><a href="#">Watch Now</a></p>
                                    <p><span>Add to My Cart</span></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="video_area tmarging"><img src="images/most_viewed_tab.jpg" alt="" /></div>
                         <div class="featured_area">
                         	<div class="featured_area_inner">
                            	<div class="featured_box">
                                	<img src="images/featured_img1.jpg" alt="" />
                                    <p>14th March 10</p>
                                    <p><b>Championship Round Up-March 13</b></p>
                                    <p><a href="#">Watch Now</a></p>
                                    <p><span>Add to My Cart</span></p>
                                </div>
                                <div class="featured_box_devider"></div>
                            	<div class="featured_box">
                                	<img src="images/featured_img2.jpg" alt="" />
                                    <p>14th March 10</p>
                                    <p><b>Championship Round Up-March 13</b></p>
                                    <p><a href="#">Watch Now</a></p>
                                    <p><span>Add to My Cart</span></p>
                                </div>
                                <div class="featured_box_devider"></div>
                            	<div class="featured_box">
                                	<img src="images/featured_img3.jpg" alt="" />
                                    <p>14th March 10</p>
                                    <p><b>Championship Round Up-March 13</b></p>
                                    <p><a href="#">Watch Now</a></p>
                                    <p><span>Add to My Cart</span></p>
                                </div>
                                <div class="featured_box_devider"></div>
                            	<div class="featured_box">
                                	<img src="images/featured_img4.jpg" alt="" />
                                    <p>14th March 10</p>
                                    <p><b>Championship Round Up-March 13</b></p>
                                    <p><a href="#">Watch Now</a></p>
                                    <p><span>Add to My Cart</span></p>
                                </div>
                            </div>
                         </div>
                         <div class="video_area tmarging"><img src="images/banner.jpg" alt="" /></div>
                        
                    </div>
                    <!--content_left_side end here-->
                    
                    
                    <!--content_right_side start here-->
                    <div id="content_right_side">
                    	<h1>Recently Uploaded</h1>
                        <div class="recent_uploaded_box">
                        	<div class="inner">
                            	<div class="recent_vid_box">
                                	<div class="img"><img src="images/recently_upload_1.jpg" alt="" /></div>
                                    <div class="img_right">
                                    	<p><b>Latest Sky Sports News Report</b></p>
                                        <p><a href="#" title="Watch Now">Watch Now</a></p>
                                        <p><a href="#" title="Add to my cart">Add to my cart</a></p>
                                    </div>
                                </div>
                            	<div class="recent_vid_box">
                                	<div class="img"><img src="images/recently_upload_2.jpg" alt="" /></div>
                                    <div class="img_right">
                                    	<p><b>Latest Sky Sports News Report</b></p>
                                        <p><a href="#" title="Watch Now">Watch Now</a></p>
                                        <p><a href="#" title="Add to my cart">Add to my cart</a></p>
                                    </div>
                                </div>
                            	<div class="recent_vid_box">
                                	<div class="img"><img src="images/recently_upload_3.jpg" alt="" /></div>
                                    <div class="img_right">
                                    	<p><b>Latest Sky Sports News Report</b></p>
                                        <p><a href="#" title="Watch Now">Watch Now</a></p>
                                        <p><a href="#" title="Add to my cart">Add to my cart</a></p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <h1>By Category</h1>
                        <div class="recent_uploaded_box">
                        	<div class="inner">
                            	<ul>
                                	<li><a href="#" title="Autos &amp; Vehicles">Autos &amp; Vehicles</a></li>
                                    <li><a href="#" title="Comedy">Comedy</a></li>
                                    <li><a href="#" title="Education">Education</a></li>
                                    <li><a href="#" title="Entertainment">Entertainment</a></li>
                                    <li><a href="#" title="Film &amp; Animation">Film &amp; Animation</a></li>
                                    <li><a href="#" title="Gaming">Gaming</a></li>
                                    <li><a href="#" title="Howto &amp; Style">Howto &amp; Style</a></li>
                                    <li><a href="#" title="Music">Music</a></li>
                                    <li><a href="#" title="News &amp; Politics">News &amp; Politics</a></li>
                                    <li><a href="#" title="Nonprofits &amp; Activism">Nonprofits &amp; Activism</a></li>
                                    <li><a href="#" title="People &amp; Blogs">People &amp; Blogs</a></li>
                                    <li><a href="#" title="Pets &amp; Animals">Pets &amp; Animals</a></li>
                                    <li><a href="#" title="Science &amp; Technology">Science &amp; Technology</a></li>
                                    <li><a href="#" title="Sports">Sports</a></li>
                                    <li><a href="#" title="Travel &amp; Events">Travel &amp; Events</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="video_area"><img src="images/right_video_area.jpg" alt="" width="287" height="167" /></div>
                    </div>
                    <!--content_right_side end here-->
                    
                </div>
            </div>
            <!--content end here-->
            
            
            <!--footer start here-->
            <div id="footer">
            <a href="#" title="home">Home</a> | <a href="#" title="about us">About Us</a> | <a href="#" title="videos">Videos</a> | <a href="#" title="author login">Author Login</a> | <a href="#" title="user login">User Login</a> | <a href="#" title="search">Search</a> | <a href="#" title="legal">Legal</a><br />
            © iscored.co.uk 2010. All Rights Reserved.
            </div>
            <!--footer end here-->
        </div>
    </div>
</body>
</html>
