<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iscored</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script language="javascript" src="http://www.i-scored.net/js/ajax.js" type="text/javascript"></script>
<script language="javascript" src="http://www.i-scored.net/lib/functions.js" type="text/javascript"></script>
<script type="text/javascript" src="http://www.i-scored.net/js/flowplayer-3.2.4.min.js"></script>
<script type="text/javascript" src="http://www.i-scored.net/js/VLCobject"></script>
<script type="text/javascript" src="http://www.i-scored.net/js/VLCcontrols"></script>
</head>

<body>
	<div id="container">
    	<div id="inner">
            <div id="header_area">
	<div id="top_bar">
		<a href="http://www.i-scored.net/contact.php" title="Contact Us">contact us</a> | <a href="http://www.i-scored.net/sitemap.php" title="Sitemap">sitemap</a> | <a href="http://www.i-scored.net/advertise.php" title="Advertise">advertise</a>
	</div>
	<div id="header">
		<div id="logo"><img src="http://www.i-scored.net/images/logo_red.png" width="178" height="110" alt="ISCORED" class="clsLogo" /></div>
		<div id="logo_right">
		<form name="frmSearch" method="post" action="http://www.i-scored.net/search.php">
			<input type="text" name="txtSearch" value="" class="input" /> <input type="submit" name="btnSearch" value="" class="btn" />
		</form>
		</div>
	</div>
	<div id="menu">
	</div>
</div>

            <!--content start here-->
            <div id="container">
            	<div id="content_inner">
                	<!--content_left_side start here-->
                	<div id="content_left_side">

                    </div>
                </div>
            </div>
            <!--content end here-->
            <div id="logos" style="width:100%; height:50px; background-color:#FFFFFF;">
	<div id="logos_left" style="width:600px; text-align:left; float:left; color:#FFFFFF; padding-left:10px;">
		<img src="http://www.i-scored.net/images/logos/mastercard.gif" width="62" height="40" alt="Master Card payments supported by RBS WorldPay" title="Master Card payments supported by RBS WorldPay" />&nbsp;&nbsp;&nbsp;
		<img src="http://www.i-scored.net/images/logos/visa_debit.gif" width="66" height="40" alt="VISA payments supported by RBS WorldPay" title="VISA payments supported by RBS WorldPay" />&nbsp;&nbsp;&nbsp;
		<img src="http://www.i-scored.net/images/logos/SOLO.gif" height="40" alt="SOLO payments supported by RBS WorldPay" title="SOLO payments supported by RBS WorldPay" />&nbsp;&nbsp;&nbsp;
		<img src="http://www.i-scored.net/images/logos/JCB.gif" width="52" height="40" alt="JCB payments supported by RBS WorldPay" title="JCB payments supported by RBS WorldPay" />&nbsp;&nbsp;&nbsp;
		<img src="http://www.i-scored.net/images/logos/maestro.gif" width="63" height="40" alt="Maestro payments supported by RBS WorldPay" title="Maestro payments supported by RBS WorldPay" />&nbsp;&nbsp;&nbsp;
	</div>
	<div id="logos_right" style="width:140px; float:right; padding-right:10px; padding-top:10px;"><a href="http://www.rbsworldpay.com" title="Powered By RBS WorldPay"><img src="http://www.i-scored.net/images/logos/poweredByRBSWorldPay.gif" width="139" height="33" border="0" alt="Powered By RBS WorldPay" /></a></div>
</div>
<div id="footer">
	<a href="http://www.i-scored.net/index.php" title="Home">Home</a> 
	| <a href="http://www.i-scored.net/about_us.php" title="About Us">About Us</a>
	| <a href="http://www.i-scored.net/videos.php" title="videos">videos</a>
	| <a href="http://www.i-scored.net/search.php" title="Search">Search</a>
	| <a href="http://www.i-scored.net/legal.php" title="Legal">Legal</a>
	| <a href="http://www.i-scored.net/refund_policy.php" title="Refund Policy">Refund Policy</a>
	<br />
&copy; iscored.co.uk 2010. All Rights Reserved.
</div>
        </div>
    </div>
</body>
</html>
